<html>
<head>
    <title>Website</title>
<style>
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    text-align: center;    
}
h1{
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    color: #f44336;
    font-size: 2.5em;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	color: gray;
	font-size: 1.2em;
} 
.frase {
	font-style: cursive;
    font-family: 'Montserrat', sans-serif;
    color: #F44336;
    font-size: 2em;

}
</style>
 
</head>
<body>
 {% block body %}{% endblock %}
 
</body>
</html>